{% extends 'BlogBundle::layout.html.twig' %}

{% block body %}

    {{ form_start(search_form) }}
    {{ form_end(search_form) }}

    <h1>Articles par nom</h1>
    <ul>
        {% for article in articles_by_name %}
            <li>
                {% include '@Blog/Article/article.template.html.twig' %}
            </li>
        {% else %}
            <li>No articles found</li>
        {% endfor %}
    </ul>

    <h1>Articles par Tag</h1>
    <ul>
        {% for article in articles_by_tag %}
            <li>
                {% include '@Blog/Article/article.template.html.twig' %}
            </li>
        {% else %}
            <li>Aucun article correspond à ce tag.</li>
        {% endfor %}
    </ul>

{% endblock %}

