<!DOCTYPE HTML>
<html>
<head>
    {#{% stylesheets 'bundles/blog/css/*' %}#}
    {#<link rel='stylesheet' href="{{asset_url}}"/>#}
    {#{% endstylesheets %}#}
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
